body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;

  #root {
    position: relative;
    width: 100%;
    height: 100%;
  }

  main {
    width: 100%;
    height: 100%;
  }
}

$green: #374412;
$offwhite: #fcfcfc;
$tan: #bcb2a2;
$white: #fff;

$roboto: 'Roboto Condensed', Sans-Serif;
$cabin: 'Cabin', Sans-Serif;

@import 'flex';
@import 'app';
@import 'loader';
@import 'product';
@import 'cart';
