$green: #FA6900;
$offwhite: #E0E4CC;
$tan: #A7DBD8;
$white: #AEDDEC;

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: $offwhite;

  #root {
    position: relative;
    width: 100%;
    height: 100%;
  }

  main {
    width: 100%;
    height: 100%;
  }
}


$roboto: 'Roboto Condensed', Sans-Serif;
$cabin: 'Cabin', Sans-Serif;

@import 'flex';
@import 'app';
@import 'loader';
@import 'product';
@import 'cart';
