.loader {
  @include l-flex();
  @include l-center();
  @include l-center-justified();
  background-color: $offwhite;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  padding: 10px;
  top: 0;
  width: 100%;

  img {
    width: 100%;
    max-width: 783px;
  }
}
